body {
    background: url('../src/images/backgroundImage.jpg');
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    width: 370px;
    margin: -70px;
}

@media (max-width: 768px) {
    .container {
        margin: 0 10%;
    }
    
    .image {
        width: 100%;
        margin-top: -35px;
    }
}